
#carouselExampleFade{margin-top: 2rem;}

nav, h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.card { 
    width: 100%;
    float: left;
    margin: 5px;
}

ul { 
    margin-right: 5rem;
}


section {
    margin: 3rem;
}


h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}


input, textarea {
    margin-bottom: 1rem;
}

textarea.form-control {
    width: 100% !important;
}


footer{height: 10rem;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;

    overflow: hidden;
}

#contato{margin-left: 0px;}

 @media (max-width: 476px){
    ul{margin-right: 0px;}
    .mayone {margin-left:1rem !important; }
 }