
#carouselExampleFade{margin-top: 2rem;}

nav, h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{align-items: center;
    justify-content: center;
    width: 100%;}

.navbar>.container-fluid {
    
        text-align: center;
        display: block;
        width: 100%;
        margin: 1rem auto;
    }


.nav-link{color: black; text-transform: capitalize;}

.carousel-caption{
    background-color: #fffdf4a2;
    color: black;
    padding-bottom: 0px;
   

   
}
.card { 
    width: 100%;
    float: left;
    margin: 5px;
}

.nav-item{justify-content: center;}

section {
    margin: 3rem;
}

#sobre{background-color: #e7ded9; margin: 3rem 0; padding: 3rem;}



h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}


input, textarea {
    margin-bottom: 1rem;
}

textarea.form-control {
    width: 100% !important;
}

iframe{margin-top: 5 rem; width:  80%;}


.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-caption {
    
    right: 25%;
    left: 26%;
    
}

#contato{margin: 3rem 0; background-color:#fbfefb;}

 @media (max-width: 476px){
    .form-check{ display:flex;padding: 0; margin: 0;}
    .navbar>.container-fluid{margin: 2rem;}
    .nav-link{font-size: 12px;}

 }

 @media (max-width: 370px){.nav-link{padding: 4px;}
}